################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CEL/.vs/CEL/v16/Browse.VC.opendb
/CEL/.vs/CEL/v16/ipch/AutoPCH/e9cc8ad58282acb4
/CEL/.vs/CEL/v16/.suo
/CEL/.vs/CEL/v16/Browse.VC.db
/CEL/.vs/CEL/v16/Browse.VC.db-shm
/CEL/.vs/CEL/v16/Browse.VC.db-wal
/.vs/CEL/v16/.suo
/.vs/CEL/v16/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/CEL/.vs/CEL/v16/ipch/AutoPCH/5931ec0afd22b0f7/MAIN_HEADER.ipch
/CEL/.vs/CEL/v16/ipch/AutoPCH/e8f32b7901085c64/CONSOLE.ipch
/.vs/VSWorkspaceState.json
/CEL/.vs/CEL/v16/ipch/ada4ff6485944609.ipch
/CEL/.vs/CEL/v16/ipch/74cda8ee6fc14545.ipch
/CEL/.vs/CEL/v16/ipch/41da6b2390ff57a4.ipch
/CEL/x64/Debug/CEL.tlog/link.write.1.tlog
/CEL/x64/Debug/CEL.tlog/link.read.1.tlog
/CEL/x64/Debug/CEL.tlog/link.command.1.tlog
/CEL/x64/Debug/CEL.tlog/CL.write.1.tlog
/CEL/x64/Debug/CEL.tlog/CL.read.1.tlog
/CEL/x64/Debug/CEL.tlog/CL.command.1.tlog
/CEL/x64/Debug/CEL.tlog/CEL.lastbuildstate
/CEL/x64/Debug/CEL.pdb
/CEL/x64/Debug/CEL.pch
/CEL/x64/Debug/CEL.log
/CEL/x64/Debug/CEL.ilk
/CEL/x64/Debug/vc142.idb
/CEL/x64/Debug/main.obj
/CEL/x64/Debug/console.obj
/CEL/x64/Debug/CEL.vcxproj.FileListAbsolute.txt
/CEL/x64/Debug/vc142.pdb
/CEL/x64/Debug/CEL.exe.recipe
/CEL/x64/Debug/CEL.exe
/CEL/x64/Debug/CEL.Build.CppClean.log
